<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="styleg.css">
        <title>ESS | OTP</title>
        <link rel="icon" type="image/x-icon" href="Logo.png">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    </head>
    <body>
        <div class="bg">
            <br>
            <br><br><br>
            <img src="Logo.png" class=img1 align="right" width="85" height="80"> 
            <h1>Confirmación OTP</h1>
            <img src="Titulol.PNG" width="350" height="15">
            <br><br>
            <p>Se ha enviado un código a ess@gmail.com</p>
            <br><br>
            <form>
                <label for="iotp" class="label">INGRESE CÓDIGO</label><BR>
                <input id="iotp" type="text" name="otp">
                <br><br><br>
                <input type="submit" value="ENVIAR">
            </form>
            <br><br><br>
            <a href="https://www.eia.edu.co">EIA</a>
            <a href="https://www.eiadigital.eia.edu.co/">EIA Digital</a>
            <a>Volver a enviar código</a>

        </div>
    </body>