{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static '/styleg.css' %}">
        <title>ESS | OTP</title>
        <link rel="icon" type="image/x-icon" href="https://i.imgur.com/7CsmsgV.png">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    </head>
    <body>
        <div class="bg">
            <br>
            <br><br><br>
            <img src="https://i.imgur.com/5OYhm8W.png" class=img1 align="right" width="85" height="80"> 
            <h1>Confirmación OTP</h1>
            <img src="https://i.imgur.com/Sl8pWxB.png" width="350" height="15">
            <br><br>
            <p>Se ha enviado un código a {{ email }}</p>
            <br><br>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="iotp" class="label">INGRESE CÓDIGO</label><BR>
                <input id="iotp" type="number" max="999999" name="otp">
                <input type="hidden" name="username">
                <input type="hidden" name="password">
                <br><br><br>
                <input type="submit" value="ENVIAR">
            </form>
            <br><br><br>
            <a href="https://www.eia.edu.co">EIA</a>
            <a href="https://www.eiadigital.eia.edu.co/">EIA Digital</a>
            <a>Volver a enviar código</a>

        </div>
    </body>